sm_aguas_bcn.SemanticModel/
sm_aguas_bcn.Report/
Resum_Executiu_Descàrrega.Report/
IA-Report.Report/
IA-Report.SemanticModel/
next_steps/
Aguas de Barcelona prueba mixto.Report/
sm_aguas_bcn.pbip 
Aguas de Barcelona prueba mixto.pbip